<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('head'); %>
        <style>
            .souceAndDestination {
                min-height: 400px;
                border: 1px solid red;
            }
        </style>
    </head>

<body>
    <div class="container">
        <div class="row my-3">
            <div class="col-6">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Créer US
                </button>
                <form action="/sprint" method="post">
                    <button type="submit" class="btn btn-primary"> Créer sprint </button>
                </form>
            </div>
       </div>
       <% for (let i=0; i<response.sprintsName.length; i++) { %>
            <div class="row">
                <div class="col">
                    <p><%= response.sprintsName[i] %></p>
                    <ul class="list-group sourceAndDestination">
                        <% let identifiant = 0; %>
                        <% response.sprintsUs[i].forEach((us , index) => { %>
                            <% identifiant += 2; %>
                            <li id="<%= identifiant %>" class="backlogLine draggable list-group-item d-flex justify-content-between" draggable="true">
                                <span scope="row">
                                    <span><%= us.id %> </span> &ensp;
                                    <span><%= us.label %></span>
                                </span>
                                <span>
                                    <span><%= us.importance %></span> &ensp;
                                    <span><%= us.difficulty %></span>
                                </span>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        <% } %>
        <div class="row">
            <div class="col-8">
                    <p>backlog</p>
                   <ul class="list-group sourceAndDestination">
                        <% let identifiant = 1; %>
                        <% for(let i=0; i<response.userStories.length; i++) { %> 
                            <% identifiant += 2 %>
                        <li id="<%= identifiant %>" class="backlogLine draggable list-group-item d-flex justify-content-between" draggable="true">
                            <span scope="row">
                                <span><%= response.userStories[i].id %> </span> &ensp;
                                <span><%= response.userStories[i].label %></span>
                            </span>
                            <span>
                                <span><%= response.userStories[i].importance %></span> &ensp;
                                <span><%= response.userStories[i].difficulty %></span>
                            </span>
                        </li>
                        <% } %>
                    </ul>
            </div>
            <div class="col-4" id="infosUs">
                 <form method="POST" onsubmit="onFormSubmit(this);">
                    <input type="hidden" id="method" name="method" value="put">
                    <div class="form-group">
                        <label for="description">Description</label><br>
                        <textarea name="description" id="description" cols="30" rows="5" required></textarea>
                    </div>
                    <div class="form-group">
                        <select class="custom-select" name="importance" id="importance">
                            <option value="1">maximale</option>
                            <option value="2" selected="selected">normale</option>
                            <option value="3">minimale</option>
                        </select>
                    </div>
                    <label for="customRange2">Priorité</label>
                    <input type="range" id="priority" name="difficulty" class="custom-range" min="1" max="100" id="customRange2">

                    <button type="submit" class="btn btn-primary" onclick="setMethod('put');">Enregistrer</button>
                    <button type="submit" class="btn btn-primary" onclick="setMethod('delete');">Supprimer</button>
                    <button type="button" id="fermer" class="btn btn-secondary">Fermer</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Créer une user story</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <form method="POST" action="/backlog/us">
                            <div class="form-group">
                                <input type="hidden" name="idProject" value="<%= response.projectId %>">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label><br>
                                <textarea name="description" id="description" cols="30" rows="5" required></textarea>
                            </div>
                            <div class="form-group">
                                <select class="custom-select" name="importance">
                                    <option value="1">maximale</option>
                                    <option value="2" selected="selected">normale</option>
                                    <option value="3">minimale</option>
                                    </select>
                            </div>
                            <label for="customRange2">Priorité</label>
                            <input type="range" name="difficulty" class="custom-range" min="0" max="100" id="customRange2">

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary">Créer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary">Créer</button>
        </div>
    -->
        </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="/js/backlog.js"></script>
</body>
</html>