<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('head'); %>
        <link rel="stylesheet" href="profile.css">
    </head>

    <body>
        <h1 class="text-center">Accueil</h1>
        <div class="container">
            <div class="row justify-content-center mb-2">
                <a class="btn btn-primary col-3" href="createProject" role="button">Créer un projet</a>
            </div>
            <div class="list-group container">
                <% if (projects) { %>
                    <% projects.forEach((project) => { %>
                        <a href="backlog/<%= project.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
                            <h5 class="mb-1"><%= project.name_ %></h5>
                            <p class="mb-1"><%= project.description_ %></p>
                            <small><%= project.username %></small>
                        </a>
                    <% }); %>
                <% } %>
            </div>
        </div>

        <footer>
            <%- include('footer'); %>
        </footer>
    </body>
</html>
