<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('head'); %>
        <link rel="stylesheet" href="profile.css">
    </head>

    <body>
        <h1 class="text-center">Accueil</h1>
        <a class="btn btn-primary" href="createProject" role="button">Créer un projet</a>
        <div class="list-group container">
            <% projects.forEach((project) => { %>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <h5 class="mb-1"><%= project.name_ %></h5>
                    <p class="mb-1"><%= project.description_ %></p>
                    <small><%= project.username %></small>
                </a>
            <% }); %>
        </div>

        <footer>
            <%- include('footer'); %>
        </footer>
    </body>
</html>
