<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('head'); %>
        <script src="/js/project.js" defer></script>
    </head>

    <body>

        <%- include('header'); %>
        <h1 class="text-center">Accueil</h1>
        <div class="container">
            <div class="row justify-content-center mb-2">
                <a id="btnCreateProject" class="btn btn-primary col-2" href="/project/new" role="button">Créer un projet</a>
            </div>
            <div class="row justify-content-center mb-2">
                <input type="text" class="form-control col-8" placeholder="Rechercher" id="searchProject">
            </div>
            <div class="list-group container">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Description</th>
                                <th scope="col">Propirétaire</th>
                            </tr>
                        </thead>
                        <tbody id="projectList">
                            <% if (projects.length === 0) { %>
                                <tr class="text-center">
                                    <td colspan="3">
                                        Vous n'avez aucun projet
                                    </td>
                                </tr>
                            <% } %>
                            <% projects.forEach((project) => { %>
                                <tr>
                                    <td><a href="backlog/<%= project.id %>"><%= project.name_ %></a></td>
                                    <td><%= project.description_ %></td>
                                    <td><%= project.username %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>

            </div>
        </div>

        <footer>
            <%- include('footer'); %>
        </footer>
    </body>
</html>