<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('head'); %>
        <script src="/js/task.js" defer></script>
    </head>
<body class="container-fluid">
    <%- include('header'); %>
    <%- include('createTask'); %>
    <%- include('editTask'); %>
    <div class="row">
        <div class="col">
            <select id="sprintsSelect">
                <option value="">Toutes</option>
                <% response.sprints.forEach((sprint, index) => { %>
                    <option value="<%= sprint.id %>">
                        <%= sprint.name %> 
                        <% if (sprint.state==="active") { %>
                            (sprint encours)
                        <% } %>
                    </option>
                <% }); %>
            </select>
            <ul class="list-group " id="taskList">
                <% response.tasks.forEach((task, index) => { %>
                    <li class="taskLine list-group-item" data-toggle="modal" data-target="#editTaskModal" data-sprint="<%= task.sprint %>">
                        <span scope="row">
                            <span><%= task.id %> </span> &ensp;
                            <span><%= task.us %></span> &ensp;
                            <span><%= task.title %></span> &ensp;
                            <span><%= task.duration %></span>
                        </span>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
</body>
</html>